# VS files #
############
*.
*.suo
*.user
*.sln.docstates
*.vsmdi
*.testsettings
*.cachefile
*.[Cc]ache
*.bak
*.ncb
*.log
*.DS_Store
*.vspscc
*.vssscc
*.swp
*.resharper
_ReSharper.*
[Tt]humbs.db
[Bb]in/
[Oo]bj/
TestResults/